// Buttons
.task-btn{
    @include fontStyle($semiBold, 14, 28, $white);
    padding: 4px 22px;
    border-radius: 12px;
    transition: 0.3s linear; 

    i{
        display: inline-block;
        margin-right: 8px;
    }
    &-blue{
        background: $blue;
        &:hover{
            box-shadow: 0 0 6px rgba($blue, 0.6);
        }
    }
    &-green{
        background: $green;
        &:hover{
            box-shadow: 0 0 6px rgba($green, 0.6);
        }
    }
    &-black{
        background: $theme_black;
        &:hover{
            box-shadow: 0 0 6px rgba($theme_black, 0.6);
        }
    }
}