// Task Item
.task-item{
    background: $white;
    border-radius: 4px;
    border-left: 5px solid $white;
    padding: 15px 70px 15px 15px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;

    &::after{
        @include content;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        @include square(5px);
        border: 2px solid $theme_black;
        border-top: 0;
        border-left: 0;
        cursor: pointer;
    }

    &:hover{        
        .taskup-task-edit{
            opacity: 1;
        }
    }

    .tasktup-task-title{
        margin-bottom: 5px;
        h3{            
            @include fontStyle($semiBold, 18, 24, $theme_black);
            @include limitLineText(1);
        }
    }

    .taskup-task-date{        
        @include fontStyle($bold, 12, 18, $lighterBlack);
        display: block;
    }

    .taskup-task-edit{
        position: absolute;
        opacity: 0;
        right: 40px;
        top: 50%;
        transform: translateY(-50%) rotate(-5deg);
        transition: 0.2s linear;
        i{            
            @include fontStyle(0, 16, 18, $lighterBlack);
            font-weight: 500;
        }
    }

    &.pink{
        border-color: #f76f8c;
    }
    &.green{
        border-color: #0EBC7D;
    }
    &.blue{
        border-color: #306bdd;
    }
    &.purple{
        border-color: #8676fe;
    }
} 