// Task Item
.task-item{
    background: $white;
    border-radius: 4px;
    border-left: 5px solid $white;
    padding: 15px 50px 15px 15px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;

    &::after{
        @include content;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        @include square(5px);
        border: 2px solid $theme_black;
        border-top: 0;
        border-left: 0;
        cursor: pointer;
    }

    .tasktup-task-title{
        h3{            
            @include fontStyle($semiBold, 18, 24, $theme_black);
            @include limitLineText(1);
        }
    }

    .taskup-task-date{        
        @include fontStyle($bold, 12, 18, $lightBlack);
        display: block;
    }

    &.pink{
        border-color: #f76f8c;
    }
    &.green{
        border-color: #0EBC7D;
    }
    &.blue{
        border-color: #306bdd;
    }
    &.purple{
        border-color: #8676fe;
    }
} 