// View Task
.taskup-view-task-popup{
    .task-popup-inner{
        border-top: 6px solid transparent;
        
        &.pink{
            border-color: #f76f8c;
        }
        &.green{
            border-color: #0EBC7D;
        }
        &.blue{
            border-color: #306bdd;
        }
        &.purple{
            border-color: #8676fe;
        }
        .task-back-popup{
            padding-bottom: 10px;
            span{
                @include fontStyle(0, 16, 24, $theme_black);
            }
        }
    }
}

.taskup-view-task{
    .taskup-task-status{
        span{
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 2px 20px;
            text-transform: capitalize;
            @include fontStyle($bold, 14, 24, $theme_black);
            border-radius: 4px;
            @include mediaQuery(576){
                @include mediaFontStyle(12, 20);
            }

            &.to-do{
                background: rgba($blue, 0.2);
                color: $blue;
            }   
            &.in-progress{
                background: rgba($yellow, 0.2);  
                color: $yellow;              
            }
            &.completed{
                background: rgba($green, 0.2);
                color: $green;
            }
        }   
    }
    .taskup-task-content{
        padding: 20px 0 10px;
        h2{
            @include fontStyle($semiBold, 26, 34, $theme_black);
            margin-bottom: 10px;
            @include mediaQuery(768){
                @include mediaFontStyle(22, 32);
            }
            @include mediaQuery(576){
                @include mediaFontStyle(20, 30);
            }
        }
        > p{
            font-family: $semiBold;
            color: $lightBlack; 
            margin-bottom: 20px;
        }
    }
    .taskup-view-task-date{
        p{
            display: inline-block;
            background: $input;
            padding: 5px 10px;
            border-radius: 4px;
            @include fontStyle($medium, 12, 18, $theme_black); 
            @include mediaQuery(576){
                @include mediaFontStyle(10, 16);
            }
            i{
                margin-right: 5px; 
            }
            span{
                font-family: $bold;
            }
        }
    }
    .taskup-view-task-options{
        padding-top: 30px;
        text-align: right;
        .task-btn{
            border-radius: 4px;
            margin-left: 20px;
            margin-bottom: 5px;
            border: 2px solid transparent;
            @include mediaQuery(576){
                @include mediaFontStyle(12, 16);
            }

            &-yellow{
                &:hover{
                    background: $white;
                    border-color: $yellow;
                    color: $yellow;
                    box-shadow: none;
                }
            }

            &-green{
                &:hover{
                    background: $white;
                    border-color: $green;
                    color: $green;
                    box-shadow: none;
                }
            }
        }
    }
}