// Home
.task-container{
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    margin: 20px 0;
    h2{
        @include fontStyle($regular, 20, 30, $theme_black);
        padding-bottom: 5px;
        span{
            @include fontStyle($medium, 20, 30, $theme_black);
        }
    }
    p{
        @include fontStyle($medium, 14, 22, $theme_black);
    }
}

// Logo
.task-logo{
    text-align: center;
    h1{
        @include fontStyle($bold, 26, 36, $theme_black);
    }
}

.task-add-btn{
    text-align: right;
    margin: 10px 0;
}
