// Home
.task-container{
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    margin: 20px 0;
    h2{
        @include fontStyle($regular, 20, 30, $theme_black);
        padding-bottom: 5px;
        span{
            @include fontStyle($medium, 20, 30, $theme_black);
        }
    }
    p{
        @include fontStyle($medium, 14, 22, $theme_black);
    }
}

// Logo
.task-logo{
    text-align: center;
    padding: 50px 0 20px;
    @include mediaQuery(768){
        padding-bottom: 0;
    }
    h1{
        @include fontStyle($bold, 26, 36, $theme_black);
    }
    img{
        max-width: 230px;        
        height: 80px;
        object-fit: cover;
        object-position: top;
        @include mediaQuery(768){
            max-width: 180px; 
            object-fit: contain;       
            height: auto;
        }
        @include mediaQuery(480){
            max-width: 110px;  
        }
    }
}

.task-add-btn{
    text-align: right;
    margin: 10px 0;
}
