// Variables

// Colors
$black: #000000;
$theme_black: #2D304E;
$lighterBlack: #b2bec3;
$lightBlack: #696b84;
$white: #FFFFFF;
$blue: #5C6CFC;
$green: #0EBC7D;
$red: #e74c3c;
$yellow: #f1c40f;
$input: #e6e8ee;

// Fonts
$regular: "Gilroy Regular", sans-serif;
$medium: "Gilroy Medium", sans-serif;
$semiBold: "Gilroy SemiBold", sans-serif;
$bold: "Gilroy Bold", sans-serif;