// Variables

// Colors
$black: #000000;
$white: #FFFFFF;

// Fonts
$regular: "Gilroy Regular", sans-serif;
$medium: "Gilroy Medium", sans-serif;
$semiBold: "Gilroy SemiBold", sans-serif;
$bold: "Gilroy Bold", sans-serif;